#resumeMainFrame {
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, .1), 0 8px 16px -8px rgba(0, 0, 0, .25);
    width: 21cm;
    min-width: 21cm;
    height: 29.7cm;
    background-color: white;
}

#resumeTopLevel {
    text-align: center;
    /* background-color: red; */
    padding: 2rem;
    /* height: rem; */
}

.contactDetails {
    display: flex;
    justify-content: center;
}

.email,
.phone,
.location {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}

.email svg,
.phone svg,
.location svg {
    height: 1.5rem;
    width: auto;
    margin-right: 10px;
}

/* Section Division */
.SectionDivision {
    text-align: center;
    background-color: #c4c7cc7c;
    margin: 2rem 4rem;
    padding: 0.5rem;
    font-weight: bold;
}

.educationEntry {
    display: flex;
    justify-content: flex-start ;
    padding: 1rem 4rem;
}

.educationEntry p, .educationEntry h3{
    margin: 0 0 10px 20px;
    padding: 0;
}

.educationEntry div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}